*{
    box-sizing: border-box;
}
body {
    position: relative;
    height: 100%;
    margin: 0;
    max-width: 2000px;
    overflow-x: hidden;
    font-family: monospace; 

}

.loading{
    position: absolute;
    width: 100vw;
    height:100vh;
    background-color: #000;
    left: 0;
    top:0;
}



  
::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */ 
}

button,
input,
select,
input::file-selector-button,
input[type=text]{
    font-family: monospace;
}

input[type=text]{
    line-height: 24px;
}
input::file-selector-button,
select{
    padding:8px 12px
}


h1{
    margin-top:0;
    font-size: 40px;
    font-family: 'Averia Serif Libre', cursive;
}

p{
    line-height: 1.5em;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

/* **************** */

button{
    padding:14px 20px;
    margin-top: 20px;
    border:none;
    border-radius: 5px;
    transition:all 0.3s ease-in-out;
    background-color:#cfdbe0;
}
button:hover{
    transition:all 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

button.update{
    background-color: #403145;
    margin-right: 10px;
    color: white;
}


/* **************** */
header{
    width: 100%; 
}

header > div{
    padding-left: 20px;
    width: 100%;
    padding-right: 30px;
    background-color: white;
}
.logo{
    text-align: center;
}
.logo svg{
    width: 50px;
    fill: #d8efe3;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

nav button{
   margin-top:0;
   margin-left:10px;
}


button.add-new{
    background-color: #5f9c7b; 
    color:white;
}
button.signup{
    background-color: #d8efe3;
}

@media (min-width:700px){

    header{
        height: 70px;
        display: flex;
        align-items: center;       
    }
    header > div{
        display: flex;
        position: fixed;
        align-items: center;
        height: 70px;
        z-index: 2;
    }
    nav{
        justify-content: flex-end;
        flex-direction: row;
    }

    nav button{
        margin-left: 20px;
    }
}


/* **************** */
.main-style .note{   
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.main-style .note img{
    width: 100%;
}

.main-style .button-wrapper{
    display: flex;
    justify-content: space-between;
}


/* **************** */
.home-wrapper{
    padding:8% 0;
}
.home-wrapper .visual,
.home-wrapper .content{
    padding: 0 8%;
    position: relative;
}

.home-wrapper .visual{
    padding-top: 2%;
    margin-top: 4%;
}
.home-wrapper .content{
    text-align: center;
}

.home-wrapper .content p{
    max-width: 500px;
    margin: 0 auto;
}

.home-wrapper .visual .main-style .note{
    width: 100%;
    margin: 10px 0
}

.home-wrapper .visual::after{
    position: absolute;
    content:'';
    top: 0;
    height: 101.5%;
    left: 5%;
    width: 90%;
    background-color: #d8efe3;
    z-index: -1;
    border-radius: 5px;
}


@media (min-width:768px){
    .home-wrapper .content{
        text-align: left;
    }
    
    .home-wrapper .content p{
        margin: 0
    }

    .home-wrapper .content,
    .home-wrapper .visual{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: relative;
    }
    .home-wrapper .visual .main-style {
        display: flex;
        flex-direction: row;
        align-items: center;    
    }    
    .home-wrapper .visual .main-style > div{
        flex: 1;
    }
    .home-wrapper .visual .main-style > div{
        padding-right: 10px;
    }
}


@media (min-width:768px) and (orientation: portrait){
    .home-wrapper{
        flex-direction: column;
        min-height: 100vh;
        justify-content: center;
        display: flex;
    }
    .home-wrapper .content{
        padding: 0 12%;
    }
    .home-wrapper .visual{
        padding:4%;
    }
    .home-wrapper .visual::after{
        height: 101.5%;
        left: 10%;
        width: 80%;
    }
}


@media (min-width:1024px) and (orientation:landscape){
    .home-wrapper{
        padding:0;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 100vh;
    }
    .home-wrapper.nf{
        min-height:calc(100vh - 70px) 
    }

    .home-wrapper .visual::after{
        left: -8%;
        top:15%;
        width: 100%;
        height: 70%;

    }
    .home-wrapper .visual{
        margin-top: 0;
        padding:0;
        padding-right: 8%;
    }
    .home-wrapper .visual .main-style .note{
        margin:0;
    }
    
    .home-wrapper .visual .main-style > div .note:first-of-type{
        margin-bottom: 20px;
    }
    .home-wrapper .visual .main-style > div{
        padding-right: 20px;
    }


}

/************main wrapper */

.modal-edit{
    padding-top: 20px;
    width: 100%;
    padding: 20px;
}

.modal-edit.yes{    
    min-height: calc(100vh - 70px);
    background-color:#cfdbe0;
    display: flex;
    align-items: center;
    margin-top:10px;
}

.modal-edit.no{    
    height: 0vh;
    padding:0;
}

.button-wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
}

.button-wrapper button{
    margin-top: 0;
}

@media (min-width:1024px){
    .modal-edit.yes{    
        height: 100vh;
        margin-top:0;
    }
    .modal-edit{
        position: fixed;
    }
}


/* //////////////// */
.form-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100% - 70px);
    flex-direction: column;
}
.form-wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;     
}

.form-wrapper .temp-profile{
    justify-content: center;
}
.form-wrapper div:last-of-type{
    justify-content: flex-start;
}

.temp-profile img{
    width: 100%;
    max-width: 400px; 
    margin-bottom: 20px;   
}

 form{
   display: block;
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
}
form label{
    margin-bottom: 8px;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form button{
    background-color:#403145;
    color: white;
}

@media (min-width:768px){
    .form-wrapper > div {
        width: 50%;  
    }

}

@media (min-width:1024px){
    .form-wrapper{
        flex-direction: row;
    }
    .temp-profile img{ 
        padding-right: 20px;  
        margin-bottom: 0;
    }
}







/* upload to db page - display notes*/
.view-wrapper{
    padding: 0 20px;
}
.select-wrapper{
    padding-top: 20px;
    width: 100%;
    text-align: center;

}

.select-wrapper h1{
    margin-bottom:0;
}

.select-wrapper div{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:700px){
   .select-wrapper{
        padding-right: 10px;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .select-wrapper h1{
        margin-left: 10px;
    }
}

/* /////////////////// */

@media (min-width:768px){
   .flex-style{
        display: flex;
        flex-wrap: wrap;
    }

    .flex-style > div{  
        width: calc(50% - 20px);
        align-self: flex-start;
    }

   .column-style{
        column-count: 2;
    }

    .column-style > div{
        display:inline-block;
        width: calc(100% - 20px);
    }
}

@media (min-width:1024px){
    .flex-style > div{  
        width: calc(33.333% - 20px);
        align-self: flex-start;
    }

    .column-style{
        column-count: 3;
    }
}



/* **********edit page************ */
.flex-wrapper{
    margin-top:20px
}
.imgRecap{
    display: flex;
    justify-content: center;
    width: 100%;
}
.imgRecap img{
    max-height: 80vh;    
}

/* **********404************ */
